@font-face {
  font-family: Lato;
  font-display: swap;
  src: local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: local("Lato-Light"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overflow-hidden {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

a {
  color: inherit;
}

/*
* Components
*/

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  z-index: 99999;
  position: absolute;
  width: 100%;
  top: 35px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu.menu--active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding: 0 37.5px;
  position: relative;
}

.menu__item:nth-child(2) {
  padding: 0 110px 0 37.5px;
}

.menu__item:nth-child(2)::after {
  display: none;
}

.menu__item:nth-child(3) {
  padding: 0 37.5px 0 110px;
}

.menu__item::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  background-color: #4d4959;
  border-radius: 50%;
  right: 0;
  top: 50%;
  margin-top: -3px;
}

.menu__item:last-child::after {
  display: none;
}

.menu__link {
  font-size: 13px;
  color: #4d4959;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.menu__btn {
  z-index: 99999;
  display: none;
  position: absolute;
  right: 20px;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.menu__btn.menu__btn--close {
  z-index: 99999;
}

.menu__btn.menu__btn--close span {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ffffff;
}

.menu__btn.menu__btn--close span:first-child {
  -webkit-transform: translateY(10px) rotate(45deg);
      -ms-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.menu__btn.menu__btn--close span:nth-child(2) {
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
  width: 0;
  background-color: transparent;
}

.menu__btn.menu__btn--close span:last-child {
  -webkit-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.menu__btn span {
  display: block;
  height: 3px;
  width: 100%;
  margin: 7px 0;
  background-color: #4d4959;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer {
  background-color: #f7f7f7;
  padding: 100px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}

.footer__address {
  color: #848789;
  font-size: 14px;
  line-height: 18px;
}

.footer__address p {
  padding: 0;
}

.footer__address p:first-child {
  font-weight: 700;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.generation {
  padding: 120px 0;
  background-color: #f7f7f7;
}

.block {
  text-align: center;
}

.block__icon {
  margin-bottom: 33px;
}

.block__icon img {
  margin: 0 auto;
}

.block__title {
  font-size: 18px;
  color: #353738;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 3.6px;
  margin-bottom: 20px;
}

.block__text {
  font-size: 18px;
  color: #848789;
  line-height: 1.889;
}

.block__text--j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}

.block__text--j::after {
  content: "";
  display: block;
  margin: 35px auto 0 auto;
  background-color: rgba(53, 55, 56, 0.2);
  width: 50px;
  height: 1px;
}

.brands--rev .brands__column {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.brands--rev .brands__column--big {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}

.brands__column--big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.6667%;
          flex: 0 1 66.6667%;
}

.brands__content {
  padding: 75px 65px 55px 65px;
  position: relative;
}

.brands__content::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0 0 0 -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
}

.brands__image {
  padding: 0 0 37.51% 0;
}

.item {
  display: block;
  position: relative;
  height: 100%;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(100, 194, 158, 0.5);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.item__logo span {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #ffffff;
}

.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider {
  padding: 120px 0 60px 0;
  background-color: #f7f7f7;
}

.slider__icon {
  margin-bottom: 35px;
  text-align: center;
}

.slider__icon img {
  display: inline;
}

.slider__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #353738;
  line-height: 1.2;
  letter-spacing: 1.5px;
}

.slider__title span {
  font-weight: 300;
  color: #848789;
}

.slider__text {
  text-align: center;
  font-size: 24px;
  color: #848789;
  font-style: italic;
  line-height: 1.417;
}

.slider .slick-slider {
  position: relative;
}

.slider .slick-list {
  overflow: hidden;
}

.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider .slick-dots {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  margin: 0 5px;
}

.slider .slick-dots li button {
  cursor: pointer;
  padding: 0;
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #c8c8c8;
  background-color: transparent;
}

.slider .slick-dots li.slick-active button {
  border: 1px solid #a9afb3;
  background-color: #a9afb3;
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}

.shop__column--big {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
}

.shop__footer {
  padding: 75px 0;
  text-align: center;
  background-color: #282f35;
}

.shop__btn {
  color: #ffffff;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 2.8px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  padding: 20px 60px;
}

.block-shop {
  height: 100%;
}

.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.block-shop__item {
  height: auto;
  padding: 0 0 50% 0;
}

.block-shop__item--big {
  padding: 0 0 200.5% 0;
}

.block-shop__item--small {
  padding: 0 0 100% 0;
}

.subscribe__body {
  padding: 110px 0;
  max-width: 524px;
  margin: 0 auto;
  text-align: center;
}

.subscribe__logo {
  margin-bottom: 39px;
}

.subscribe__logo img {
  display: inline;
}

.subscribe__lable {
  color: #848789;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 35px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 8px;
}

.subscribe__input input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  width: 100%;
  height: 69px;
  border: 1px solid #d3d7d9;
  padding: 0 28px;
}

.subscribe__input input::-webkit-input-placeholder {
  color: #d3d7d9;
}

.subscribe__input input::-moz-placeholder {
  color: #d3d7d9;
}

.subscribe__input input:-ms-input-placeholder {
  color: #d3d7d9;
}

.subscribe__input input::-ms-input-placeholder {
  color: #d3d7d9;
}

.subscribe__input input::placeholder {
  color: #d3d7d9;
}

.subscribe__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 126px;
          flex: 0 0 126px;
}

.subscribe__btn {
  background-color: #64c29e;
  width: 100%;
  height: 69px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__link {
  margin: 0 7px;
}

.dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dev__text {
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  color: #848789;
  padding-right: 9px;
}

@media (max-width: 1500px) {
  .block__text--j::after {
    margin: 15px auto 0 auto;
  }

  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}

@media (max-width: 1279px) {
  .generation {
    padding: 80px 0;
  }
}

@media (max-width: 1100px) {
  .footer {
    padding: 50px 0;
  }

  .brands--last .brands__column:nth-child(1) {
    display: none;
  }

  .brands--last .brands__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .brands--last .brands__column:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .brands.brands--last .brands__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .brands.brands--last .brands__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .brands.brands--last .brands__column:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item {
    height: auto;
    padding: 0 0 50% 0;
  }

  .shop__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .shop__column:first-child,
  .shop__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .shop__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .shop__column--big {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .shop__footer {
    padding: 50px 0;
  }

  .shop__btn {
    padding: 20px 30px;
  }
}

@media (max-width: 921px) {
  .container {
    padding: 0 50px;
  }

  .generation {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }

  .header {
    top: 15px;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d4959;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 150px;
    overflow: auto;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__item {
    padding: 0 0 35px 0;
  }

  .menu__item:nth-child(2) {
    padding: 0 0 35px 0;
  }

  .menu__item:nth-child(2)::after {
    display: block;
  }

  .menu__item:nth-child(3) {
    padding: 0 0 35px 0;
  }

  .menu__item::after {
    background-color: #ffffff;
    width: 4px;
    height: 4px;
    right: 50%;
    top: 40px;
    margin-right: -2px;
  }

  .menu__item:last-child {
    padding-bottom: 0;
  }

  .menu__link {
    color: #ffffff;
    font-size: 20px;
  }

  .menu__btn {
    display: block;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .slider {
    padding: 60px 0 30px 0;
  }

  .slider__title {
    font-size: 16px;
  }

  .slider__title span {
    font-size: 16px;
  }

  .slider__text {
    font-size: 18px;
  }

  .slider .slick-dots {
    padding-top: 50px;
  }

  .subscribe__body {
    padding: 50px 0;
  }

  .subscribe__form {
    display: block;
  }

  .subscribe__input {
    padding-right: 0;
    padding-bottom: 8px;
  }

  .social {
    margin: 15px 0;
  }
}