.brands {
    &--rev {
        & .brands__column {
            order: 1;

            &--big {
                order: 2;
            }
        }
    }

    &--last {
        @media (max-width:1100px) {
            .brands__column {
                &:nth-child(1) {
                    display: none;
                }

                &:nth-child(2) {
                    order: 1
                }

                &:nth-child(3) {
                    order: 3
                }
            }
        }
    }

    @media (max-width:1100px) {
        &.brands--last {

            & .brands__column {
                &:nth-child(1) {
                    order: 2
                }

                &:nth-child(2) {
                    order: 1
                }

                &:nth-child(3) {
                    order: 3
                }
            }
        }
    }

    &__row {
        display: flex;

        @media (max-width:1100px) {
            flex-direction: column;
        }
    }

    &__column {
        flex: 0 1 33.3333%;

        &--big {
            flex: 0 1 66.6667%;
        }
    }

    &__content {
        padding: 75px 65px 55px 65px;
        position: relative;

        @media (max-width:1500px) {

            padding: 40px 35px 30px 35px;

        }



        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            margin: 0 0 0 -10px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $white;
        }
    }

    &__image {
        padding: 0 0 37.51% 0;
    }

}