.breadcrumbs {
    padding: 20px 0;
    font-weight: 300;

    &__list {
        display: flex;
        flex-wrap: wrap;
        font-size: $font-size-normal;
        margin: 0;

        @media(max-width: 767px) {
            font-size: $font-size-small;
            line-height: 18px;
        }
    }

    &__item {
        padding-right: 20px;
        position: relative;

        &::after {
            position: absolute;
            content: "/";
            top: 0;
            right: 6px;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            font-weight: 600;

            &::after {
                display: none;
            }
        }
    }

}