.header {
    z-index: 99999;
    position: absolute;
    width: 100%;
    top: 35px;

    @media #{$screen-mobile} {
        top: 15px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85px;
    }

    &__logo {
        position: absolute;
        z-index: 10;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

}