// Screen widths
$screen-desktop: "(max-width: 1279px)";
$screen-tablet: "(max-width: 921px)";
$screen-mobile: "(max-width: 767px)";

// Colors
$white: #ffffff;
$black: #000000;

$accent: #4d4959;
$color-title: #353738;
$color-text: #848789;
$bg-color-section: #f7f7f7;
$bg-color-form-button: #64c29e;
$bg-color-brand: rgba(#64c29e, .5);
$bg-color-shop: #282f35;
$input-color-border: #d3d7d9;

//Fonts sizes
$font-size-normal: 16px;

//Fonts colors
$text-main-color: $black;