// Screen widths

$screen-tablet: "(max-width: 1279px)";
$screen-mobile: "(max-width: 767px)";


// Colors

$white: #ffffff;
$black: #000000;

$accent: rgb(77, 73, 89);

//Fonts sizes

$font-size-normal: 16px;

$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-small: 14px;
$font-size-extraSmall: 12px;


//Fonts colors

$text-main-color: $black;